.cards{
    padding: 2% 4%;
}

.card-contents{
    box-sizing: border-box;
    border: 1px solid black;
    .card-content{
        box-sizing: border-box;
        display:inline-block;
        width: 25%;
        padding: 0 2%;
        min-width: 120px;
        >*{
            width: 100%;
        }
    }
}

.card-header-top{
    display: flex;
    justify-content: flex-end;
    padding: 2% 4%;
}

.card-header-top-left{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    margin-right: auto;
}

.card-header-top-left>i{
    display:flex;
    align-items: center;
    justify-content: center;
    background:#00A474;
    color:white;    
    border-radius: 30px;
    width: 35px;
    height: 35px;
}   

.card-header-top-left>span{
    display: block;
    margin-left: 2%;
    font-family: OpenSans-SemiBold;
    color: #35405a;
    font-size: 20px;
    font-weight: bold;
}


.radio>span{
    margin-left: 1%;
}


.radio2{
    margin-left: 2%;
}

.card-footer{
    display: flex;
    justify-content: flex-end;
    padding: 2% 4%;
}



@media (max-width: 450px){
    .card-header-top{
        display:block;
        >*{
            width:100%;
            padding: 10px 0;
        }
    }
}
