<div class="cards">
    <div class="card card-header">
        <div class="card-header-top">
            <div class="card-header-top-left">
                <i class="fa fa-car" aria-hidden="true"></i>
               <span>
                    Booking Hotel Murah Online dengan Harga Promo
                </span>
                
            </div>
            <div class="card-heaeder-top-right">
                <span><a href="">Pencarian Terakhir ></a></span>

            </div>
        </div>
        
    </div>
    <div class="card card-contents">
        <div class="card-content">
            <mat-select placeholder="City" [(ngModel)]="cityId" name="item">
                <mat-option *ngFor="let city of cities" [value]="city.id">
                    {{city.cityName}} - {{city.region.regionName}}
                </mat-option>
            </mat-select>
        </div>
        <div class="card-content">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="fromDate" placeholder="Tanggal Mulai">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="card-content">
            <mat-form-field>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="backDate" placeholder="Tanggal Selesai">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="card-content">
            <mat-form-field>
                <mat-label>Jumlah mobil</mat-label>
                <input [(ngModel)]="quantity" type="number" matInput>
            </mat-form-field>
        </div>
        
    </div>
    <div class="card card-footer">
        <button mat-flat-button (click)="searchCar()">Cari Hotel</button>
    </div>
</div>
