.card-container{
    display:flex;
    justify-content: center;
    >div{
        position: relative;
        top: -50px;
    }
}

.page-container{
    box-sizing: border-box;
    padding: 2% 4%;
    display:flex;
}
.thumbnail{
    width: 100%;
    >img{
        width: 100%;
        height: 400px;
    }
}





.page-filter{
    min-width: 250px;
    width: 30%;
}

.page-data{
    
    width: 70%;
    min-width: 250px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.event-box{
    box-sizing: border-box;
    min-width: 200px;
    max-width: 400px;
    >.image-box{
        >img{
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 800px){
    .page-data{
        grid-template-columns: auto;
    }
}

@media(max-width: 540px){
    .page-container{
        flex-wrap: wrap;
    }
}


.delete-box{
    box-sizing: border-box;
    background-color: #dce2e3;
    padding: 10px;
    border-radius: 20px;
}



.tools-container{  
    display:flex;
    >.tool{
        width: 25px;
        height: 25px;
        border: 0.5px solid black;
        margin: 1px;
        box-sizing: border-box;
        display:flex;
        justify-content: center;
    }
}
.tool:hover{
    cursor: pointer;
    background: black;
    color:white;
}


.content{
    height: 150px;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
    overflow-x: hidden;
}



.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    overflow-x: auto;
}



.loading-page{
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.form{
    width: 75%; 
    border: 1p solid black;
    padding: 2%;
    border-radius: 20px;
    background: rgba($color: #FFFFFF, $alpha: 1.0);
    margin: auto;
    overflow-x: auto;
}

.event-buttons>button{
    margin:0 2px;
}


.flight-footer{
    margin: 2%;
    display:flex;
    &>div{
        margin: 0 2%;
        display:flex;
        @media (max-width: 300px) {
            flex-wrap: wrap;
        }
        &>button{
            margin: 0 1%;
        }
    }
}
