<div class="cards">
    <div class="card card-header">
        <div class="card-header-top">
            <div class="card-header-top-left">
                <i class="fas fa-bed"></i>
                <span>
                    Booking Hotel Murah Online dengan Harga Promo
                </span>
                
            </div>
            <div class="card-heaeder-top-right">
                <span><a href="">Pencarian Terakhir ></a></span>

            </div>
        </div>
        
    </div>
    <div class="card card-contents">
        <div class="card-content">
            <mat-select placeholder="Tujuan" [(ngModel)]="destination" name="item">
                <mat-option>
                    test
                </mat-option>
            </mat-select>            
        </div>
        <div class="card-content">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Check-in">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="card-content">
            <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="Check-out">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="card-content">
            <mat-select placeholder="Tujuan" [(ngModel)]="Room" name="item">
                <mat-option>
                    test
                </mat-option>
            </mat-select>
        </div>
        
    </div>
    <div class="card card-footer">
        <button>Cari Hotel</button>
    </div>
</div>