.pop-up{
    z-index: 100;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6)
}

.pop-up-box{
    width: auto;
    background: #ff7dff;
    color: #ffffff;    
    padding: 20px;
    border-radius: 20px;
}