
<div class="footer">
    <div class="footer-top">
        <div class="footer-top-child footer-top-child-1"> 
            <div class="info-title">
                <img src="../../../assets/tiketLogo.png" alt="">
            </div>
            <div class="contact">
                <div class="contact-child contact-whatsapp">
                    
                    <div class="contact-child-image">
                        <img src="../../../assets/footer/whatsapp.png" alt="">
                    </div>
                    <div class="contact-child-info whatsapp-info">
                        <span>Whatsapp</span>
                        <span>0855 1500 878</span>
                    </div>
                </div>
                <div class="contact-child contact-email">
                    <div class="contact-child-image">
                        <img src="../../../assets/footer/email.png" alt="">
                    </div>
                    <div class="contact-child-info email-info">
                        <span>Email</span>
                        <span>cs@tiket.com</span>
                    </div>
                </div>
                <div class="contact-child contact-callCenter">
                    <div class="contact-child-image">
                        <img src="../../../assets/footer/callCenter.png" alt="">
                    </div>
                    <div class="contact-child-info callCenter-info">
                        <span>0804 1500 878(Indonesia only)</span>
                        
                        <span>+6221 3973 0888</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top-child footer-top-child-2">
            <div class="info-title"> 
                <span>Perusahaan</span>
            </div>
            <div class="info-contents">
                <a href="">Blog</a>
                <a href="">Karir</a>
                <a href="">Corporate</a>
                <a href="">Partner</a>
                <a href="">TIX point</a>
                <a href="">Perlindungan</a>
                <a href="">Cicilan</a>
                <a href="">Daftarkan Hotel Anda</a>
            </div>
            
        </div>
        <div class="footer-top-child footer-top-child-3">
            <div class="info-title"> 
                <span>Produk</span>
            </div>
            <div class="info-contents">
                <a href="">Pesawat</a>
                <a href="">Hotel</a>
                <a href="">Kereta Api</a>
                <a href="">Sewa Mobil</a>
                <a href="">Hiburan</a>
            </div>
        </div>
        <div class="footer-top-child footer-top-child-4">
            <div class="info-title"> 
                <span>Dukungan</span>
            </div>
            <div class="info-contents">
                <a href="">Pusat Bantuan</a>
                <a href="">Syarat dan Ketentuan </a>
                <a href="">Kebijakan dan Privasi</a>
                <a href="">Tiket Anti Galau</a>
            </div>
        </div>
        <div  class="footer-top-child footer-top-child-5">
            <div class="info-title"> 
                <span>Download tiket.com app</span>
            </div>
            <div class="info-contents">
                <div class="info-content googlePlay">
                    <a href="">
                        <img src="../../../assets/footer/googlePlay.png" alt="">
                    </a>
                </div>
                <div class="info-content2 appStore">
                    <a href="">
                        <img src="../../../assets/footer/appStore.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-bottom-contents wonderfulIndonesia">
            <p class="footer-bottom-title"></p>
            <span><img src="../../../assets/footer/wonderfulIndonesia.png" alt=""></span>
            <span>
                Official Partner
                <br>
                Kementrian Pariwisata
                <br>
                Republik Indonesia
            </span>
        </div>
        <div class="footer-bottom-contents secure">
            <p class="footer-bottom-title">Keamanan Transaksi Anda</p>
            <div class="footer-bottom-content-images">
                <div class="secure-image secure-image-top">
                    <img  src="../../../assets/footer/verified-visa.png" alt="">
                    <img class="footer-img" src="../../../assets/footer/master-card.png" alt="">
                    <img class="footer-img" src="../../../assets/footer/geoTrust.png" alt="">
                </div>
                <div class="secure-image">
                    <img  src="../../../assets/footer/jcb-secure.png" alt="">            
                    <img class="footer-img" src="../../../assets/footer/safekey.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-bottom-contents awards">
            <p class="footer-bottom-title">Penghargaan</p>
            <div class="footer-bottom-content-images awards-image">
                <img src="../../../assets/footer/iata.png" alt="">               
                <img class="footer-img" src="../../../assets/footer/topBrand.png" alt="">
                <img class="footer-img" src="../../../assets/footer/superbrand.png" alt="">
            </div>
        </div>
        <div class="footer-bottom-contents follow-us">
            <p class="footer-bottom-title">Follow Us</p>
            <div class="footer-bottom-content-images follow-us-logo"> 
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter footer-img"></i>
                <i class="fab fa-linkedin-in footer-img"></i>
                <i class="fab fa-youtube footer-img"></i>
            </div>
        </div>
    </div>

</div>