.container{
    padding: 2% 4%;
}


.page-container{
    display:flex;
}
.train-container{
    width: 100%;
    .train{
        box-sizing: border-box;
        border: 1px solid #3d3d3d;
        border-radius: 10px;
        padding: 1% 3%;
        margin-bottom: 5px;
        .train-info-box{
            .train-info{
                box-sizing: border-box;
                min-width: 200px;
                padding: 2%;
            }
            .train-info-left{
                width: 25%;
                display:inline-block;
            }
            
            
            .train-info-mid{
                width: 50%;
                display:inline-block;
                .train-info-time{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                }
                .train-info-mid-bottom{
                    text-align: center;
                    box-sizing: border-box;
                    &>div{
                        display:inline-block;
                        width: 50%;
                        min-width: 108px;
                    }
                }
                
            }
            .train-info-right{
                width: 25%;
                display:inline-block;
               
            }
        }
        .train-detail-trips{
            border-top: 1px solid darkgrey;
        }
    }
}





.cards{
    padding: 2% 4%;
}

.card-contents{
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    .card-content{
        width: 100%;
        box-sizing: border-box;
        border-left: 0.5px solid darkgrey;
        padding: 0 2%;
    }
    
  
    
}
.card-content-back>div{
    box-sizing: border-box;
    margin: 0 2%;
}
.card-header-top{
    display: flex;
    justify-content: flex-end;
    padding: 2% 4%;
}
.card-content-back{
    display:flex;
    align-items: center;
}


.card-header-top-left{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    margin-right: auto;
}

.card-header-top-left>i{
    display:flex;
    align-items: center;
    justify-content: center;
    background:#FB387E;
    color:white;
    border-radius: 30px;
    width: 35px;
    height: 35px;
}   

.card-header-top-left>span{
    display: block;
    margin-left: 2%;
    font-family: OpenSans-SemiBold;
    color: #35405a;
    font-size: 20px;
    font-weight: bold;
}


.radio>span{
    margin-left: 1%;
}


.radio2{
    margin-left: 2%;
}

.card-footer{
    display: flex;
    justify-content: flex-end;
    padding: 2% 4%;
}

.filter-container{
    padding: 2%;
}
.filter-train-box{
    padding: 2%;    
}


// .modal{
//     display: none;
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     z-index: 10;
//     top: 0;
//     left: 0;
//     background-color: rgba($color: #000000, $alpha: 0.5);

// }



// .form{
//     width: 75%;
//     padding: 2% 4%;
//     border: 1p solid black;
//     border-radius: 20px;
//     background: rgba($color: #FFFFFF, $alpha: 1.0);
//     margin: auto;
// }


////////////////// .modal
.modal{
    display: none;
    position: fixed;
    min-width: 300px;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);

    overflow-x: auto;
}

.form{
    width: 75%;
    padding: 2% 4%;
    border: 1p solid black;
    border-radius: 20px;
    background: rgba($color: #FFFFFF, $alpha: 1.0);
    margin: auto;
    >button{
        margin-left: 2px;
    }
    overflow-x: auto;
}
//////////////////



.train-info-right{
    >div{
        box-sizing: border-box;
        margin: 5px;
    }
}



.delete-box{
    box-sizing: border-box;
    background-color: #dce2e3;
    padding: 10px;
    border-radius: 20px;
}



.trainPage-number{
    display:flex;
    flex-wrap: wrap;
    >div{
        margin: 0 3px;
        display:flex;
        >button{
            margin: 0 5px;
        }
    }
}

@media(max-width:450px){
    .page-container{
        flex-wrap: wrap;
    }
    .train-info-box{
        text-align: center;
    }
    .train-info-right>div{
        
        display:flex;
        justify-content: center;
    }
}

.loading-page{
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}