<div class="modal" id="modal" >
    <div class="form">
        <div>
            id: {{trainTripId}}
        </div>
        <br>
        <div class="form-train-box">
            <mat-select placeholder="Train" [(value)]="trainId" >
                <mat-option *ngFor="let train of formTrains" [value]="train.id">
                    {{train.name}}
                </mat-option>
            </mat-select>
        </div>
        <br>
        <div>
            <mat-select placeholder="From" [(value)]="fromRefer">
                <mat-option *ngFor="let station of stations" [value]="station.id">
                    {{station.stationCode}}
                </mat-option>
            </mat-select>
        </div>
        <br>
        <div>
            <mat-select placeholder="To" [(value)]="toRefer" >
                <mat-option *ngFor="let station of stations" [value]="station.id">
                    {{station.stationCode}}
                </mat-option>
            </mat-select>
        </div>
        <br>
        <div>
            <mat-form-field>
                <mat-label>Tanggal Berangkat</mat-label>
                <input [(ngModel)]="departure" matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Departure Time</mat-label>
                <input matInput placeholder="HH:MM"  [(ngModel)]="departureTime">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Tanggal Sampai</mat-label>
                <input [(ngModel)]="arrival" matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Arrival Time</mat-label>
                <input matInput placeholder="HH:MM"  [(ngModel)]="arrivalTime">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="price" [(ngModel)]="price">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="tax" [(ngModel)]="tax">
            </mat-form-field>    
        </div>
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="service charge" [(ngModel)]="serviceCharge">
            </mat-form-field>
        </div>
        
        <button mat-flat-button color="primary" (click)="insertTrainTrip()">Insert</button>
        <button mat-flat-button color="primary" (click)="updateTrainTrip()">update</button>
    </div>
</div>


<button mat-button id="showForm">showForm</button>



<app-pop-up class="pop-up-box"  [isOpen]="popUpDelete">
    <div class="delete-box">
        <p>Are you sure want to delete? </p>
        <button mat-flat-button class="button" (click)="sureDelete()">Yes</button>
        <button mat-flat-button  class="button" (click)="closePopUp()">No</button>
    </div>
</app-pop-up>

<div class="container">


    <div class="page-container">

        <div class="filter-container">
            <i class="fas fa-filter" matTooltip="Sort ticket here ">
                <mat-select [(ngModel)]="selectedValue" name="item">
                    <mat-option (click)="sortAscByDeparture()">
                        Departure Ascending
                    </mat-option>
                    <mat-option (click)="sortDscByDeparture()">
                        Departure Descending
                    </mat-option>
                    <mat-option (click)="sortAscByArrival()">
                        Arrival Ascending
                    </mat-option>
                    <mat-option (click)="sortDscByArrival()">
                        Arrival Descending
                    </mat-option>
                    <mat-option (click)="sortAscByDuration()">
                        Duration
                    </mat-option>
                </mat-select>
            </i>
            <button mat-flat-button color="primary" (click)="reset()">reset</button>
            <div class="filter-train-box train-class">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h3>Kelas</h3>
                    </mat-expansion-panel-header>
                    <div>
                        <mat-checkbox (click)="markClass(0)" [(ngModel)]="classCheckbox2[0]" color="primary">Ekonomi
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox (click)="markClass(1)" [(ngModel)]="classCheckbox2[1]" color="primary">Bisnis
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox (click)="markClass(2)" [(ngModel)]="classCheckbox2[2]" color="primary">Eksekutif
                        </mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="filter-train-box train-time">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h3>Waktu</h3>
                    </mat-expansion-panel-header>
                    <div>
                        <mat-checkbox (click)="markTime(0)" [(ngModel)]="timeCheckbox2[0]" color="primary">00:00 - 06:00
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox (click)="markTime(1)" [(ngModel)]="timeCheckbox2[1]" color="primary">06:00 - 12:00
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox (click)="markTime(2)" [(ngModel)]="timeCheckbox2[2]" color="primary">12:00 - 18:00
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox (click)="markTime(3)" [(ngModel)]="timeCheckbox2[3]" color="primary">18:00 - 24:00
                        </mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="filter-train-box train-name">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h3>Train</h3>
                    </mat-expansion-panel-header>
                    <div *ngFor="let trainType of trainTypes; let i=index">
                        <mat-checkbox (click)="markTrain(i)" color="primary" [(ngModel)]="trainCheckbox2[i]">
                            {{trainType.name}}</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
        </div>
        <div class="train-container">
            <div class="train" *ngFor="let trainTrip of trainTrips; let i=index">
                <div class="train-info-box">
                    <div class="train-info train-info-left">
                        <h3>{{trainTrip.train.trainType.name}} {{trainTrip.train.name}}</h3>
                        <p>{{trainTrip.train.trainClass.className}} ({{trainTrip.train.trainSubClass}})</p>
                    </div>
                    <div class="train-info train-info-mid">
                        <div class="train-info-time">
                            <div class="train-info-dep">
                                <span>
                                    {{trainTrip.departure | date:"HH:mm"}}-
                                </span>
                                <p>
                                    {{trainTrip.from.stationCode}}
                                </p>
                            </div>

                            <div class="train-info-arr">
                                <span>
                                    {{trainTrip.arrival |date:"HH:mm"}}
                                </span>
                                <p>
                                    {{trainTrip.to.stationCode}}
                                </p>

                            </div>
                        </div>
                        <div class="train-info-mid-bottom">
                            <h2>IDR {{trainTrip.price}}</h2>
                        </div>
                    </div>
                    <div class="train-info train-info-right">
                        <div>
                            <button (click)="showUpdateForm(i)" mat-flat-button color="primary">Update</button>
                        </div>
                        <div>
                            <button (click)="openPopUp(trainTrip.id)" mat-flat-button color="primary">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trainPage-number">
                <button (click)="prevTrainPage()" mat-flat-button color="primary">prev</button>
                <div>
                    <button color="primary" (click)="setTrainPage(j)" mat-flat-button *ngFor="let item of [].constructor(trainPage); let j=index">{{j+1}}</button>
                </div>
                <button (click)="nextTrainPage()" color="primary" mat-flat-button>next</button>
            </div>
        </div>
        
        
    </div>



</div>