.container{
    box-sizing: border-box;
    width: 100%;
    margin: 0 2%;
}

.box{
    display: flex;
}
.content-header{
    width: 20%;
    height: 90%;
    img{
        width: 100%;
        height: 100%;
    }
}
.fa-star{
    color: yellow
}
.fa-air-conditioner{
    color:black;
    width: 10px;
    height: 10px;
}



.content-detail{
    padding: 2%;
}


.hotel-features{
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}
.hotel-features>span{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
}

.hotel-features>span>span{
    width: 100%;
    height: 100%;
}


.hotel-features>span>img{
    width: 100%;
    height: 100%;
}


.review-box{
    &>span{
        margin-left: 20px;
    }
}