<div class="container" id="loginModal1">
    <div class="title-container">
        <h2 class="title">Log in/Daftar</h2>
        <p class="title-description">Perjalanan serumu dimulai disini</p>
    </div>

    <form action="localhost:8000/login" method="POST">
        <!-- <span> -->
        <mat-form-field appearance = "outline">
            <mat-label>
                Nomor Ponsel atau Email
            </mat-label>
            <input [(ngModel)]="emailOrPhonenumber" class="input-emailOrPhonenumber" name="emailOrPhonenumber" type="text"
                placeholder="Nomor Ponsel atau Email" matInput>
        </mat-form-field>
        <!-- </span> -->
        <input (click)="goToNextPage()" class="next-btn" type="button" value="LANJUTKAN">
        <p class="or-with">atau dengan</p>
        <ul class="button-list">
            <li class="btn-li btn-li-google">
                <div id="googleBtn" >
                    <img src="../../../assets/LoginComponents/google.svg" alt="">
                    <span>Google</span>

                </div>
            </li>
            <div class="btn-divider"></div>
            <li class="btn-li  btn-li-facebook">
                <div (click)="signInWithFB()">
                    <img src="../../../assets/LoginComponents/facebook.svg" alt="">
                    <span>Facebook</span>

                </div>
            </li>
        </ul>
        <p class="agreement">Dengan mendaftar kamu menyetujui <a href="">Kebijakan Privasi</a> dan <a href="">Syarat &
                Ketentuan</a> kami.</p>
        <div class="hr"></div>
    </form>

</div>

<app-login-modal2 id="loginModal2"></app-login-modal2>
<app-register-modal id="registerModal"></app-register-modal>
