<div class="box">
    <div class="star-box">
        <div class="star star1">
            <input type="checkbox" name="" id="checkStar1" >
            <span class="stars">
                <i class="fas fa-star"></i>
            </span>
        </div>
        <div class="star star2">
            <input type="checkbox" name="" id="checkStar2" >
            <span class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </span>
        </div>
        <div class="star star3">
            <input type="checkbox" name="" id="checkStar3">
            <span class="stars">    
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </span>
        </div>
        <div class="star star4">
            <input type="checkbox" name="" id="checkStar4">
            <span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </span>
        </div>
        <div class="star star5">
            <input type="checkbox" name="" id="checkStar5">
            <span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </span>
        </div>
    </div>


</div>