

<div class="container">
    <div>
        <button mat-button (click)="reset()">reset</button>
        
    </div>
    <div class="hotel-container">
        <div class="filter-container">
            <h1>Filter</h1>
            <div class="filter-hotel">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Hotel
                    </mat-expansion-panel-header>
                    <div *ngFor="let hotel of hotelsFilter; let i=index">
                        <mat-checkbox [(ngModel)]="hotelsFilterBoolean2[i]" (click)="markHotel(i)">{{hotel.hotelName}}
                        </mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="filter-facility">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Facility
                    </mat-expansion-panel-header>
                    <div *ngFor="let facility of facilityFilter; let i=index">
                        <mat-checkbox [(ngModel)]="facilityFilterBoolean2[i]" (click)="markFacility(i)">
                            {{facility.name}}</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>

            <div class="filter-star">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Rate
                    </mat-expansion-panel-header>

                    <div class="star star1">
                        <mat-checkbox (click)="markStarFilter(0)" [(ngModel)]="starFilterBoolean2[0]"></mat-checkbox>
                        <span class="stars">
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                    <div class="star star2">
                        <mat-checkbox (click)="markStarFilter(1)" [(ngModel)]="starFilterBoolean2[1]"></mat-checkbox>
                        <span class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                    <div class="star star3">
                        <mat-checkbox (click)="markStarFilter(2)" [(ngModel)]="starFilterBoolean2[2]"></mat-checkbox>
                        <span class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                    <div class="star star4">
                        <mat-checkbox (click)="markStarFilter(3)" [(ngModel)]="starFilterBoolean2[3]"></mat-checkbox>
                        <span>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                    <div class="star star5">
                        <mat-checkbox (click)="markStarFilter(4)" [(ngModel)]="starFilterBoolean2[4]"></mat-checkbox>
                        <span>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="filter-price">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h3>Price</h3>
                    </mat-expansion-panel-header>
                    <mat-slider (input)="markPriceFilter($event)" ticksInterval=1000 min="0" max="15000000"
                        step="300000" [(ngModel)]="priceFilter"></mat-slider>
                    <p>IDR {{priceFilter}}</p>
                </mat-expansion-panel>
            </div>


        </div>



        <div>
            <i class="fas fa-filter">
                <mat-select [(ngModel)]="selectedValue" name="item">
                    <mat-option (click)="sortAscName()">
                        SortByNameAsc
                    </mat-option>
                    <mat-option (click)="sortDscName()">
                        SortByNameDesc
                    </mat-option>
                    <mat-option (click)="sortAscRating()">
                        SortByRatingAsc
                    </mat-option>
                    <mat-option (click)="sortDscRating()">
                        SortByRatingDesc
                    </mat-option>
                    <mat-option (click)="sortAscPrice()">
                        SortByPriceAsc
                    </mat-option>
                    <mat-option (click)="sortDscPrice()">
                        SortByPriceDesc
                    </mat-option>
                </mat-select>
            </i>
            <ng-container class="hotel-ng-container" *ngFor="let hotelTicket of hotelTickets; let i =index">
                <div class="hotel-box">
                    <div class="hotel-box-child hotel-left">
                        <img src="../../../assets/hotel/search/hotel-images/shinchan-image.jpg" alt="">
                    </div>
                    <div class="hotel-box-child hotel-mid">
                        <p>Hotel Name: {{hotelTicket.hotel.hotelName}}</p>
                        <p>Hotel Location:
                            {{hotelTicket.hotel.area.areaName}},
                            {{hotelTicket.hotel.area.city.cityName}},
                            {{hotelTicket.hotel.area.city.region.regionName}}</p>
                        <p>{{hotelTicket.price}}</p>
                        <p>
                            <i class="fas fa-star" *ngFor="let i of [].constructor(hotelTicket.hotel.rate)"></i>
                        </p>
                        <p>Rating: {{hotelTicket.hotel.ratingNumber}}/5</p>
                        <div>
                            <p>
                                Facilities:
                            </p>

                            <span *ngFor="let hotelFacility of hotelTicket.hotel.hotelFacilities"
                                class="facilities-img"><img src={{hotelFacility.facility.imagePath}} alt=""></span>

                        </div>
                        <div>
                            <button mat-flat-button class="hotel-mid-hotel-room">Hotel room</button>
                        </div>
                    </div>
                    <div class="hotel-box-child hotel-right">
                        <div>
                            <button mat-flat-button color="primary" (click)="showUpdate(i)">Update</button>
                        </div>
                        <div>
                            <button mat-flat-button color="primary" (click)="openPopUp(hotelTicket.id)">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="hotel-room-container">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Hotel room
                        </mat-expansion-panel-header>
                        <div class="hotel-room" *ngFor="let hotelRoom of hotelTicket.hotel.hotelRooms">
                            <div class="hotel-room-child hotel-room-left">
                                <div class="hotel-img">
                                    <img src={{hotelRoom.imagePath}} alt="">
                                </div>
                            </div>
                            <div class="hotel-room-child hotel-room-right">
                                <div>
                                    <p>{{hotelRoom.name}}</p>
                                    <p>{{hotelRoom.space}} x {{hotelRoom.space}} </p>
                                    <p>{{hotelRoom.price}}</p>
                                </div>
                            </div>
                        </div>

                    </mat-expansion-panel>
                </div>
            </ng-container>
        </div>

        <br>
    </div>
    <p>current page: {{from+1}}</p>
    <div class="hotelPage-number">
        <button (click)="prevHotelPage()" mat-flat-button color="primary">prev</button>
        <div>
            <button color="primary" (click)="setHotelPage(j)" mat-flat-button
                *ngFor="let item of [].constructor(hotelPage); let j=index">{{j+1}}</button>
        </div>
        <button (click)="nextHotelPage()" color="primary" mat-flat-button>next</button>
    </div>
</div>