<div class="container">
    <div class="left-container">
        <div class="user-data">
            <p id="username">Chandra</p>
            <p id="userpoint">1000 <small>point</small></p>
        </div>
    </div>
    <div class="page-container">
        <div class="detail">
            <p>Name: bla bla bla</p>
            <p>Category: Hotel</p>
            <p>Quantity: 10</p>
            <p>Price: 10000</p>
            <p>Type: Ekonomi</p>
            <p>Total Price: IDR 10000000 </p>
        </div>
        <div class="detail">
            <p>Name: bla bla bla</p>
            <p>Category: Hotel</p>
            <p>Quantity: 10</p>
            <p>Price: 10000</p>
            <p>Type: Ekonomi</p>
            <p>Total Price: IDR 10000000 </p>
        </div>
        <div class="detail">
            <p>Name: bla bla bla</p>
            <p>Category: Hotel</p>
            <p>Quantity: 10</p>
            <p>Price: 10000</p>
            <p>Type: Ekonomi</p>
            <p>Total Price: IDR 10000000 </p>
        </div>
        <div class="detail">
            <p>Name: bla bla bla</p>
            <p>Category: Hotel</p>
            <p>Quantity: 10</p>
            <p>Price: 10000</p>
            <p>Type: Ekonomi</p>
            <p>Total Price: IDR 10000000 </p>
        </div>
        
    </div>

</div>