<div class="whatsapp-box">
    <button (click)="sendMessage()" mat-flat-button color="primary">ASK QUESTION <i class="fab fa-whatsapp"></i></button>
</div>
<div class="container">
    <app-slider></app-slider>
    <div class="container-detail">
        <div class="quick-card" #quickCard (click)="quickCardClicked(quickCard, overlay)">
            <app-quick-card></app-quick-card>   
        </div>
    </div>
    <div class="page-container">
        
    </div>
</div>
<div class="overlay"  #overlay (click)="overlayClicked(quickCard, overlay)"></div>



