<div class="container">
    <app-slider></app-slider>
    <div class="container-detail">
        <div class="quick-card" #quickCard (click)="quickCardClicked(quickCard, overlay)">
            <app-quick-card></app-quick-card>   
        </div>
    </div>
    <div class="simple-feature">
        <div class="simple-container">
            <div class="simple-row simple-row1">
                <div class="simple-box simple-box1">
                    <div class=simple-img>
                        <img src="../../../assets/home-page/simples/simple-profile.svg" alt="">
                    </div>
                    <div class="simple-info">
                        <p class="simple-info-title">Simple Profile</p>
                        <p class="simple-info-detail">Pesan lebih cepat, isi data penumpang dengan sekali klik.</p>
                    </div>
                </div>
                <div class="simple-box simple-box2">
                    <div class=simple-img>
                        <img src="../../../assets/home-page/simples/simple-reschedule.svg" alt="">
                    </div>
                    <div class="simple-info">
                        <p class="simple-info-title">Simple Reschedule</p>
                        <p class="simple-info-detail">Memudahkan kamu mengatur ulang penerbangan.</p>
                    </div>
                </div>
            </div>
            <div class="simple-row simple-row2">
                <div class="simple-box simple-box3">
                    <div class=simple-img>
                        <img src="../../../assets/home-page/simples/simple-booking-process.svg" alt="">
                    </div>
                    <div class="simple-info">
                        <p class="simple-info-title">Simple Booking Process </p>
                        <p class="simple-info-detail">Pemesanan tanpa ribet di mana pun dan kapan pun.</p>
                    </div>
                </div>
                <div class="simple-box simple-box4">
                    <div class=simple-img>
                        <img src="../../../assets/home-page/simples/simple-refund.svg" alt="">
                    </div>
                    <div class="simple-info">
                        <p class="simple-info-title">Simple Refund</p>
                        <p class="simple-info-detail">Refund tiket tanpa ribet dari aplikasi
                            maupun website.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="benefit-feature">
        <div class="benefit-container">
            <h3>TIX Benefit</h3>
            <p>Nikmati Berbagai Penawaran Eksklusif di tiket.com</p>
            <div class="benefit-images">
                <div class="benefit-image benefit-image1">
                    <img src="../../../assets/home-page/benefit/2days-foreign-country.jpg" alt="">
                </div>
                <div class="benefit-image benefit-image2">
                    <img src="../../../assets/home-page/benefit/special-treatment.jpg" alt="">
                </div>
            </div>
            <div class="benefit-more">
                <button>Masih banyak lagi</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay"  #overlay (click)="overlayClicked(quickCard, overlay)"></div>



