// .container{
//     // height: 100%;
//     // position: relative;
// }

.quick-card{

    display: block;
    box-sizing: border-box;
    width: 80%;
    // height: 50%;
    // border: 2px solid black;
    box-shadow: 0 10px 20px 0 rgba(53,64,90,.2);
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    top: -30px;    
    box-shadow: 2% 2%;
}




