<div>
    <div>
        <div class="card card-contents">
            <div class="card-content card-content-from">
                <mat-select placeholder="Dari" [(value)]="selectedFromId" name="item">
                    <mat-option *ngFor="let city  of cities" [value]="city.id">
                        {{city.cityName}} - {{city.region.regionName}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="card-content card-content-to">
                <mat-select placeholder="Ke" [(value)]="selectedToId" name="item">
                    <mat-option *ngFor="let city of cities" [value]="city.id">
                        {{city.cityName}} - {{city.region.regionName}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="card-content card-content-depart">
                <mat-form-field>
                    <mat-label>Tanggal Berangkat</mat-label>
                    <input [(ngModel)]="fromDate" matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="card-content card-content-back">
                <div>
                    <mat-checkbox [(ngModel)]="pulang">Pulang</mat-checkbox>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Tanggal Pulang</mat-label>
                        <input disabled={{!pulang}} [(ngModel)]="backDate" matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="card-content card-content-class">
                <mat-select placeholder="Kelas Kabin" name="item" [(value)]=selectedClass>
                    <mat-option *ngFor="let class of classes" [value]="class">
                        {{class}}
                    </mat-option>
                </mat-select>

            </div>
            <div class="card-content card-content-many">
                <mat-form-field>
                    <input matInput placeholder="Jumlah Penumpang" [(ngModel)]="manyPassenger" type="number" min="1"
                        max="7">
                </mat-form-field>
            </div>
        </div>
        <div class="card card-footer">
            <button (click)="flightSearchPage()" mat-raised-button color="primary">Cari Penerbangan</button>
        </div>
    </div>
    <div class="page-container">
        <div class="box1">

            <h1>Filter</h1>
            <button mat-button (click)="resetStatus()">Reset</button>
            <div class="transit filter-box">
                <h2 (click)="transitBoolean = !transitBoolean;">Transit</h2>
                <div *ngIf="transitBoolean">
                    <div>
                        <mat-checkbox [(ngModel)]="modelTransits[0]" color="primary" (click)="markTransit(0)">Langsung
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="modelTransits[1]" color="primary" (click)="markTransit(1)">1 Transit
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="modelTransits[2]" color="primary" (click)="markTransit(2)">2+ Transit
                        </mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="filter-box">
                <h2 (click)="slideDurationBoolean=!slideDurationBoolean">
                    Duration Transit In hour(s)
                </h2>
                <div *ngIf="slideDurationBoolean">
                    <mat-slider (input)="initSliderDuration($event)" [(ngModel)]="sliderValue" min="1" max="10"
                        [displayWith]="formatLabel" thumbLabel></mat-slider>
                </div>
            </div>
            <div class="filter-box">
                <h2 (click)="timeBoolean = !timeBoolean">Time</h2>
                <div *ngIf="timeBoolean">
                    <div class="depart-box">
                        <h5>Berangkat</h5>
                        <mat-checkbox [(ngModel)]="depaturesTime2[0]" (click)="checkDeparture(0)" color="primary">00:00 -
                            06:00</mat-checkbox>
                        <mat-checkbox [(ngModel)]="depaturesTime2[1]" (click)="checkDeparture(1)" color="primary">06:00 -
                            12:00</mat-checkbox>
                        <mat-checkbox [(ngModel)]="depaturesTime2[2]" (click)="checkDeparture(2)" color="primary">12:00 -
                            18:00</mat-checkbox>
                        <mat-checkbox [(ngModel)]="depaturesTime2[3]" (click)="checkDeparture(3)" color="primary">18:00 -
                            24:00</mat-checkbox>
                    </div>
                    <div class="arrival-box">
                        <h5>Tiba</h5>
                        <mat-checkbox [(ngModel)]="arrivalsTime2[0]" (click)="checkArrival(0)" color="primary">00:00 - 06:00
                        </mat-checkbox>
                        <mat-checkbox [(ngModel)]="arrivalsTime2[1]" (click)="checkArrival(1)" color="primary">06:-0 - 12:00
                        </mat-checkbox>
                        <mat-checkbox [(ngModel)]="arrivalsTime2[2]" (click)="checkArrival(2)" color="primary">12:00 - 18:00
                        </mat-checkbox>
                        <mat-checkbox [(ngModel)]="arrivalsTime2[3]" (click)="checkArrival(3)" color="primary">18:00 - 24:00
                        </mat-checkbox>
                    </div>
                </div>
                
            </div>

            <div class="airlines-box filter-box">
                <h2 (click)="airlineBoolean = !airlineBoolean">Maskapai</h2>
                <ng-container  *ngIf="airlineBoolean">
                    <div  class="airline" *ngFor="let airline of airlines;let i =index">
                        <div class="airline-image">
                            <img src={{airline.path}} alt="">
                        </div>
                        <mat-checkbox (click)="checkboxAirlines(i)" [(ngModel)]="airlinesCheckbox[i]">{{airline.name}}
                        </mat-checkbox>
                    </div>

                </ng-container>
                
            </div>
            <div class="filter-facilities-box filter-box">
                <h2  (click)="facilityBoolean = !facilityBoolean">Facility</h2>
                <ng-container *ngIf="facilityBoolean" >
                    <div *ngFor="let facility of airlineFacilities; let i = index">
                        <mat-checkbox [(ngModel)]="airlineFacilitiesChecked2[i]" (click)="markAirlineFacilities(i)">
                            {{facility.name | titlecase}}</mat-checkbox>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="box2">
            <i class="fas fa-filter">
                <mat-select [(ngModel)]="selectedValue" name="item">
                    <mat-option (click)="sortByFilterAsc()">
                        Transit Asc
                    </mat-option>
                    <mat-option (click)="sortByFilterDsc()">
                        Transit Dsc
                    </mat-option>
                    <mat-option (click)="sortByDurationAsc()">
                        Duration of transit Asc
                    </mat-option>
                    <mat-option (click)="sortByDurationDsc()">
                        Duration of transit Dsc
                    </mat-option>
                    <mat-option (click)="sortByTimeAsc()">
                        Time Asc
                    </mat-option>
                    <mat-option (click)="sortByTimeDsc()">
                        Time Dsc
                    </mat-option>
                </mat-select>

            </i>
            <div class="flight" *ngFor="let flight of flights; let i = index">
                <div class="flight-top ">
                    <div class="flight-header">
                        <p>{{flight.airline.name}}</p>
                    </div>
                    <div class="flight-detail">
                        <div class="flight-detail-left">
                            <div class="flight-image">
                                <img src={{flight.airline.path}} alt="">
                            </div>
                        </div>
                        <div class="flight-detail-mid">
                            <p>

                                {{flight.departure}} - {{flight.arrival}}
                            </p>
                            <p>
                                Duration {{flight.duration}}
                            </p>
                            <p>
                                Dest: {{flight.from.city.cityCode}} - Arrv: {{flight.to.city.cityCode}}
                            </p>
                            <p>
                                {{flight.sTransit}}
                            </p>
                            <div>
                                <button (click)="showDetailFlightClick(i)" class="button-show button-show-flight-detail"
                                    mat-button color="primary">Show Flight Detail</button>
                                <button (click)="checkDetailPriceBox(i)"  class="button-show button-show-detail-price" mat-button color="primary">Show
                                    Detail Price</button>
                            </div>
                            <div class="flight-facility-box">
                                <div class="flight-facility"
                                    *ngFor="let airlineFacility of flight.airline.airlineFacilities" matTooltip={{airlineFacility.facility.name}}>
                                    <img src={{airlineFacility.facility.imagePath}} alt="">
                                </div>
                            </div>
                        </div>
                        <div class="flight-detail-right">
                            <p>IDR {{flight.price + (flight.price*classPrice)}}/pax</p>
                            <button mat-flat-button color="accent" (click)="checkOut(i)">Pilih</button>
                        </div>

                    </div>
                </div>
                <div class="flight-bottom" *ngIf="showDetailFlights[i]">
                    <div class="route-box">
                        <div class="route-from">
                            <p>From: {{flight.from.name}}</p>
                            <p>Departure time: {{flight.departure}}</p>
                        </div>
                        <div class="routes" *ngIf="flight.routes.length > 0">
                            <h5>Routes</h5>
                            <div class="route" *ngFor="let route of flight.routes">
                                -
                                <span>
                                    {{route.to.name}}:
                                </span>
                                <span>
                                    {{route.to.city.cityCode}}
                                </span>
                            </div>
                        </div>
                        <div class="route-to">
                            <p>To: {{flight.to.name}}</p>
                            <p>Arrival-time: {{flight.arrival}}</p>
                        </div>
                    </div>
                </div>
                
                <div class="flight-detail-price-box"  *ngIf="boolDetailPriceBox[i] == true">
                    <div>
                        <h4>Tarif</h4>
                        <ul>
                            <li>
                                <span>
                                    Penumpang({{manyPassenger}}):
                                </span>
                                <span>
                                    {{(flight.price+ (flight.price*classPrice)) * manyPassenger}}
                                </span>

                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>Pajak dan biaya lainnya</h4>
                        <ul>
                            <li>
                                <span>
                                    Pajak <small>/org</small>:
                                </span>
                                <span>
                                    {{flight.tax}}
                                </span>
                            </li>
                            <li>
                                <span>Biaya pelayanan Penumpang: </span>
                                <span>GRATIS </span>
                            </li>
                        </ul>
                    </div>
                    <div class="flight-detail-price-total-price">
                        <h2>Total:</h2>
                        <h3>IDR
                            {{(flight.price+flight.tax + (flight.price*classPrice) ) * manyPassenger}}</h3>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>