<div class="modal" id="modal">
    <div id="form" class="form">
        <div class="image-modal-box">
            <img id="image-modal" src="" alt="">
        </div>
    </div>
</div>

<div class="container">
    <div class="page-container">
        <div class="chat-container">
            <div class="chat-header">
                <h1>
                    CHATROOM
                </h1>
            </div>
            <div class="chat-box">
                <ng-container *ngFor="let message of messages; let i =index">
                    <div *ngIf="message.from == user.id" class="pYou">
                        <div *ngIf="message.message.length>0">
                            <p>{{message.date.getHours()}}:{{message.date.getMinutes()}}</p>
                            <p >
                                {{message.fromUser.firstName}} {{message.fromUser.lastName}}: {{message.message}}
                            </p>
                        </div>
                        <div *ngIf="message.image.length>0">
                            <p>{{message.date.getHours()}}:{{message.date.getMinutes()}}</p>
                            <p >
                                {{message.fromUser.firstName}} {{message.fromUser.lastName}}: 
                            </p>
                            <div>
                                <div (click)="showModal(i)"  class="image-box">
                                    <img src={{message.image}} alt=""> 
                                </div>
                                <a href={{message.image}} download>
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div *ngIf="message.from !=  user.id  " class="pOther">
                        <div *ngIf="message.message.length>0">
                            <p>{{message.date.getHours()}}:{{message.date.getMinutes()}}</p>
                            <p >
                                {{message.fromUser.firstName}} {{message.fromUser.lastName}}: {{message.message}}
                            </p>

                        </div>
                        <div  *ngIf="message.image.length>0">
                            <p>{{message.date.getHours()}}:{{message.date.getMinutes()}}</p>
                            <p >
                                {{message.fromUser.firstName}} {{message.fromUser.lastName}}:
                            </p>
                            <div>
                                <div (click)="showModal(i)" class="image-box">
                                    <img src={{message.image}} alt=""> 
                                </div>
                                <a href={{message.image}} download>
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </ng-container> 
            </div>

            <div class="button-textbox">
                <mat-form-field>
                    <input matInput placeholder="Input message here" [(ngModel)]="message" 
                        value="value">
                </mat-form-field>
                <div>
                    <i (click)="fileInput.click()" class="fas fa-image"></i>
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                    <button mat-flat-button color="primary" [disabled]="message.length==0" (click)="send()">text</button>
                </div>
            </div>
        </div>
    </div>
</div>