



.page-container{
    display:flex;
    justify-content: center;
}
.chat-container{
    position: relative;
    width: 100%;
    max-width: 550px;
    min-width: 345px;
    height: 600px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    
}

.chat-header{
    height:10%;
}
.chat-box{
    height: 80%;
    overflow-x: auto; 
}
.button-textbox{
    box-sizing: border-box;
    display:flex;
    height: 10%;
    justify-content: space-between;
    >mat-form-field{
        width: 70%;
        margin-right: 10%;
    }
    div>button{
        box-sizing: border-box;
    }
    >div{
        width: 20%;
    }
    >div>*{
        margin: 2px;    

    }

}
.image-box{
    width: 100px;
    height: 100px;
    >img{
        width: 100%;
        height: 100%;
    }
}




.pYou{
    background-color:#34eb77;
    color: white;word-wrap: break-word;   
}
.pOther{
    background-color: darkgrey;
    color:black;word-wrap: break-word;   
}









.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);

}



.form{
    padding: 2% 4%;
    border: 1p solid black;
    border-radius: 20px;
    // background: rgba($color: #FFFFFF, $alpha: 1.0);
    margin: auto;
    display:flex;
    justify-content: center;
}   

.image-modal-box{
    display:flex;
    justify-content: center;
    width: 60%;
    >img{
        width: 100%;
        height: 100%;
    }
}