<div class="container">
    <div class="box1">
        <h1>Filter</h1>
        <div class="transit">
            <div><input type="checkbox" name="" id="" (click)="markTransit(0)"> Langsung</div>
            <div><input type="checkbox" name="" id="" (click)="markTransit(1)"> 1 Transit</div>
            <div><input type="checkbox" name="" id="" (click)="markTransit(2)"> 2 ++Transit</div>
        </div>

    </div>
    <div class="box2">
        <div class="flight" *ngFor="let flight of flights">
            <div class="flight-header">
                <p>{{flight.airline.name}}</p>
            </div>
            <div class="flight-detail">
                <div class="flight-detail-left">
                    <div class="flight-image">
                        <img src={{flight.airline.path}} alt="">
                    </div>
                </div>
                <div class="flight-detail-mid">
                    <p>

                        {{flight.departure}} - {{flight.arrival}}
                    </p>
                    <p>
                        Duration {{flight.duration}}
                    </p>
                    <p>
                        Dest: {{flight.from.city.cityCode}} - Arrv: {{flight.to.city.cityCode}}
                    </p>
                    <p>
                        {{flight.sTransit}}
                    </p>
                    
                </div>
                <div class="flight-detail-right">
                    <p>IDR {{flight.price}}/pax</p>
                    <button>PILIH</button>
                </div>  
            </div>
            


        </div>

    </div>


</div>