.container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-width: 280px;
    min-height: 425px;
    background-color: white;
    padding: 7%;
    
}

.title-container{
    box-sizing: border-box;
    height: 12%;
    margin-bottom: 7%;
}
.title{
    margin-bottom: 2%;
}

form{
    box-sizing: border-box;
    // height: 100%;
    display:flex;
    flex-direction: column;
    margin-top: 5%;
}
p{
    color: black;
}
.title{
    color: #35405a;
}
.title-description{
    color: #58627a;
}
$PTB: 2%;

$PLR: 4%;
mat-form-field{
    width: 100%;
}
.input-emailOrPhonenumber{
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: $PTB $PLR;
    margin-bottom: 3%;
    border-radius: 3px;
    color: black;
}
.input2{
    color: black;
}

::ng-deep  .mat-form-field-label {
    color: #c6cbda !important;
    padding: 2% 4%;
}
.next-btn{
    width: 100%;
    font-size: 16px;
    padding: 3%;
    border-radius: 50px;
    background-color: #FEDD00;
    color: #0064D2;
    font-weight: bold;
}

.or-with{
    box-sizing: border-box;
    margin: 5% 10%;
    font-size: 14px;
    color: #888;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.or-with:after, .or-with:before{
    box-sizing: border-box;
    position: absolute;
    top: 51%;
    width: 50%;
    height: 1px;
    overflow: hidden;
    content: "";
    background: #ddd;
}
// margin: 0 10%;

.or-with:before{
    margin-left: -55%;
}
.or-with:after{
    margin-left: 5%;
}




ul{
    list-style-type: none;
    text-align: left;
}
li{
    text-decoration: none;
    border: 1px solid black;
}

.btn-li{
    
    box-sizing: border-box;
    border: 1px solid #DEE2EE;
        
    div{
        display:flex;
        align-items:center;
        // box-sizing: border-box;
        padding: 4% $PLR;  
        span{
            
            box-sizing: border-box;
            color: black;
            margin-left: 5%;
        }
        img{
            box-sizing: border-box;

            width: 20px;
            height: 20px;
            
        }
    }
    
}
.btn-li:hover{
    cursor: pointer;
}

.btn-divider{
    height: 1px;
    background: #ddd;
    margin: 0 2%;
}

.btn-li-google{
    
    border-bottom: 0px;
    border-radius: 3px 3px 0 0;
}
.btn-li-facebook{
    border-top:  0;
    border-radius: 0 0 3px 3px;
}



.agreement{
    box-sizing: border-box;
    color: #888;
    text-align: center;
    font-size: 12px;
    margin-top: 10%;
}
.hr{
    box-sizing: border-box;
    height: 1px;
    background: #ddd;
    margin: 25px 35%;
}
