<div class="container">
    <div class="title-container">
        <h2 class="title">Log in/Daftar</h2>
        <p class="title-description">Perjalanan serumu dimulai disini</p>
    </div>

    <form action="localhost:8000/login" method="POST">
        <!-- <span> -->
            <mat-form-field>
                <input [(ngModel)]="email" class="input1 input-emailOrPhonenumber" name="emailOrPhonenumber" type="text" placeholder="Nomor Ponsel atau Email" matInput>
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="password" class="input2 inputPassword" name="password" type="password" placeholder="Password" matInput>
            </mat-form-field>
        <!-- </span> -->
        <input type="submit" class="next-btn" (click)="login()" value="LANJUTKAN">
        <p class="or-with">atau dengan</p>
        <ul class="button-list">
            <li class="btn-li btn-li-google">
                <div (click)="onSignIn()">
                    <img src="../../../assets/LoginComponents/google.svg" alt="">
                    <span>Google</span>

                </div>
            </li>
            <div class="btn-divider"></div>
            <li  class="btn-li  btn-li-facebook">
                <div (click)="signInWithFB()"> 
                    <img src="../../../assets/LoginComponents/facebook.svg" alt="">
                    <span>Facebook</span>   

                </div>
            </li>
        </ul>
        <p class="agreement">Dengan mendaftar kamu menyetujui <a href="">Kebijakan Privasi</a> dan <a href="">Syarat &
            Ketentuan</a> kami.</p>
        
    </form>

</div>