<div class="cards">
    <div class="card card-header">
        <div class="card-header-top">
            <div class="card-header-top-left">
                <i class="fas fa-plane"></i>
                <span>
                    Cari harga tiket pesawat murah & promo di sini
                </span>
            </div>
            <div class="card-heaeder-top-right">
                <span><a href="">Pencarian Terakhir ></a></span>

            </div>
        </div>
        <div class=card-header-bottom>
            <label class="radio radio1"><input type="radio" name="trip" id="" value=""><span>Sekali Jalan</span></label>
            <label class="radio radio2"><input type="radio" name="trip" id=""><span>Pulang Pergi</span></label>
        </div>        
    </div>
    <div class="card card-contents">
        Halo
    </div>
    <div class="card card-footer">
        <button>Cari Penerbangan</button>
    </div>
</div>