

.container{
    box-sizing: border-box;
    padding: 2% 4%;
}

.tools-container{  
    display:flex;
    >.tool{
        width: 25px;
        height: 25px;
        border: 0.5px solid black;
        margin: 1px;
        box-sizing: border-box;
        display:flex;
        justify-content: center;
    }
}
.tool:hover{
    cursor: pointer;
    background: black;
    color:white;
}


.content{
    height: 400px;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
    overflow-x: hidden;
}

.post-box{
    margin-top: 10px;
    display:flex;
    justify-content: flex-end;
}