.cards{
    padding: 2% 4%;
}

.card-contents{
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    .card-content{
        min-width: 100px;
        box-sizing: border-box;
        padding: 5px 10px;
        >*{
            width: 100%;
        }
    }
    .card-content-back{
        box-sizing: border-box;
        >div{
            >mat-checkbox{
                width: 20%;
            }
            >mat-form-field{
                width: 80%;
            }
        }
    }
    
    
}
@media (max-width: 1289px){
    .card-contents{
        justify-content: start;
    }
}

.card-content-back>div{
    box-sizing: border-box;
    margin: 0 2%;
}
.card-header-top{
    display: flex;
    justify-content: flex-end;
    padding: 2% 4%;
}
.card-content-back{
    display:flex;
    align-items: center;
}
@media (max-width: 370px){
    .card-content-back{
        margin-top: 5px;
        display:block
    }
}

.card-header-top-left{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    margin-right: auto;
}

.card-header-top-left>i{
    display:flex;
    align-items: center;
    justify-content: center;
    background:#FB387E;
    color:white;
    border-radius: 30px;
    width: 35px;
    height: 35px;
}   

.card-header-top-left>span{
    display: block;
    margin-left: 2%;
    font-family: OpenSans-SemiBold;
    color: #35405a;
    font-size: 20px;
    font-weight: bold;
}


.radio>span{
    margin-left: 1%;
}


.radio2{
    margin-left: 2%;
}

.card-footer{
    display: flex;
    justify-content: flex-end;
    padding: 2% 4%;
}

@media (max-width: 600px){
    .card-header-top{
        display:block;
        >div{
            width: 100%;
        }
    }
}