.cards{
    padding: 2% 4%;
}

.card-contents{
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    .card-content{
        width: 100%;
        box-sizing: border-box;
        border-left: 0.5px solid darkgrey;
        padding: 0 2%;
    }
    
  
    
}
.card-content-back>div{
    box-sizing: border-box;
    margin: 0 2%;
}
.card-header-top{
    display: flex;
    justify-content: flex-end;
    padding: 2% 4%;
}
.card-content-back{
    display:flex;
    align-items: center;
}


.card-header-top-left{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    margin-right: auto;
}

.card-header-top-left>i{
    display:flex;
    align-items: center;
    justify-content: center;
    background:#FB387E;
    color:white;
    border-radius: 30px;
    width: 35px;
    height: 35px;
}   

.card-header-top-left>span{
    display: block;
    margin-left: 2%;
    font-family: OpenSans-SemiBold;
    color: #35405a;
    font-size: 20px;
    font-weight: bold;
}


.radio>span{
    margin-left: 1%;
}


.radio2{
    margin-left: 2%;
}

.card-footer{
    display: flex;
    justify-content: flex-end;
    padding: 2% 4%;
}